<html>
  <head>
    <title>vue</title>
    <meta charset="utf-8">
  </head>
  <body>
    <div id="login-example">
      <user-login></user-login>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.2/vue.js"></script>
    <script>
      var auth = {
        login: function (id, pass) {
          window.alert("login id:" + id + "\n" + "password:" + pass);
        }
      };

      var loginTemplate = `
        <div>
          <input type="text" placeholder="ログインID" v-model="userid">
          <input type="password" placeholder="パスワード" v-model="password">
          <button v-on:click="login">ログイン</button>
        </div>
      `

      var loginComponent = Vue.component('user-login', {
        template: loginTemplate,
        data: function () {
          return {
            userid: '',
            password: ''
          }
        },
        methods: {
          login: function () {
            auth.login(this.userid, this.password);
          }
        }
      });

      var vm = new Vue({
        el: '#login-example'
      });
    </script>
  </body>
</html>
